
/*--normalize--*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
 display: block;
}

ul {
  list-style: disc;
}
ol ol {
  padding-left: 20px;
}
ul ul {
  padding-left: 20px;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
label {
  margin-bottom: 5px;
  margin-top: 5px;

}
input[type="text"] {
  height: 30px;
  width: 100%;
  border-radius:3px;
  border:1px solid #cacaca;
      background-color: #fefefe;
}
textarea {
  width: 98%;
  height: 100px;
    border:1px solid #cacaca;
      border-radius:3px;
          background-color: #fefefe;
}

select {
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background-color: #fefefe;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    -webkit-background-origin: content-box;
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    -webkit-background-size: 9px 6px;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
html {
 box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: transparent;
text-rendering: optimizeLegibility;
height:100%;
}
a {
 text-decoration: none;
 display: block;
}
a:active, a:focus, a:visited, a:hover {
 text-decoration: none;
}
img {
 max-width: 100%;
 display: block;
}
body {
 line-height: 1;
  height:100%;
  font-family: 'Roboto', sans-serif;
  /*--custom-fonts--*/
}
*:focus {
 outline: 0;
}


/* global styles */
ul {
  list-style-type: none;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
}


main {
	padding-top: 86px;
}